{% extends "authentication/auth_base.html" %}

{% load static %}


{% block css %}
  {{block.super}}
  <style>
    body{
      background-color: white;}
  </style>
{% endblock css %}


<!-- Seo tags -->
{% block seo %}
<title>Trezunt Forget Password</title>      
<meta name="keywords" content="trezunt, online earning, prediction game">
<meta name="robots" content="noindex" >
{% endblock seo %}

{% block content %}

<div class="container parent-box" > 
    <div class="text-center pt-5 logo"> 
       <img style="width: 230px; height: 40px;"   class="" src="{% static 'core/images/dark_logo.png' %}" alt="">
    </div>
    <div class="mx-5">
        <form action="" method="POST" enctype="multipart/form-data">
            {% for field in  form %} {%csrf_token %}
            <div class="mb-3 row">
                <p class="text-center text-muted">Forgotten your password?</p>   
                <p class="text-center text-muted">Enter your email address below, and we’ll email instructions for setting a new one.</p>   
                {{field}}
                {{field.errors}}
            </div>
            {% endfor %}
          
            <div class="d-flex justify-content-center">
            <input type="submit" class=" my-1 button-30 "  value="Submit">
            </div> 
        </form>
    </div>
  </div>





  
{% endblock content %}
