{% extends "authentication/auth_base.html" %}

{% load static %}


{% block css %}
  {{block.super}}
  <style>
    body{
      background-color: white;}
  </style>
{% endblock css %}


<!-- Seo tags -->
{% block seo %}
<title>Trezunt Password reset complete</title>      
<meta name="keywords" content="trezunt, online earning, prediction game">
<meta name="robots" content="noindex" >
{% endblock seo %}


{% block content %}


<div class="container parent-box" > 
    <div class="text-center pt-5 logo"> 
       <img style="width: 230px; height: 40px;"   class="" src="{% static 'core/images/dark_logo.png' %}" alt="">
    </div>

    <div class="mx-5">
        <p class="text-center rainbow-text">Password reset complete</p>   
        <p class="text-center text-muted">Your password has been set. You may go ahead and <a class="rainbow-text text-decoration-underline" style="font-size: 20px;"  href="{% url 'login' %}">log in</a> now.</p>   
    </div>
</div>





  
{% endblock content %}
