{% extends "authentication/auth_base.html" %}

{% load static %}


{% block css %}
  {{block.super}}
  <style>
    body{
      background-color: white;}
  </style>
{% endblock css %}


<!-- Seo tags -->
{% block seo %}
<title>Trezunt reset done</title>      
<meta name="keywords" content="trezunt, online earning, prediction game">
<meta name="robots" content="noindex" >
{% endblock seo %}



{% block content %}


<div class="container parent-box" > 
    <div class="text-center pt-5 logo"> 
       <img style="width: 230px; height: 40px;"   class="" src="{% static 'core/images/dark_logo.png' %}" alt="">
    </div>
    <div class="mx-5">
        <p class="text-center rainbow-text">Password reset sent</p>   
        
        <p class="text-center text-muted">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>   
        
        <p class="text-center text-muted">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>   
      </div>
  </div>





  
{% endblock content %}
