{% extends "core/base.html" %}

{% load static %}


{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'core/css/notification.css' %}">

{% endblock css %}


<!-- Seo tags -->
{% block seo %}
<title>Trezunt Notifications</title>      
<meta name="keywords" content="trezunt, online earning, prediction game">
<meta name="robots" content="noindex" >
{% endblock seo %}

{% block content %}
{{block.super}}

<div class="  parent-box px-2"  >

<h1 class="rainbow-text px-2 py-2" >Announcements</h1>

{% for nt in data  %}


        <div class="container border shadow  mb-2 py-2  " style="overflow: hidden;background-color: aliceblue;">
                <a href="{% url 'notifi_dis' nt.id %}"  class=" bg-light text-decoration-none rounded  " >
                <h2  class="text-dark">{{nt.title}}</h2>
                <p class="text-muted">{{nt.notification|truncatewords:5}} </p>
                </a>
        </div>

     
{% endfor %}

</div>
{% endblock content %}


{% block js %}
{{block.super}}
  
{% endblock js %}