/* .password{
    height: 100vh;
    background:linear-gradient(180deg,rgb(12, 26, 54),rgb(236, 236, 236),rgb(236, 236, 236)) ;
} */


.password-form{
    margin-bottom: 15px;
    outline: none;
   background-color: rgb(255, 255, 255);
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
   
}

/* .bg-container{
    background-color: rgb(255, 255, 255);
} */

/* .btn-color{
    background-color: rgba(86,86,140,255)
} */