
  .progress {
    background: rgba(255,255,255,0.1);
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0%;
  }


  /* @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  } */


  /* show history */
  .p-box{
   padding: 13px 40px;
  }

  /* history box padding */
  .h-padding{
    padding: 13px 32px;
  }


  /* number buttons */
  .number-button{
    background: #00d0c3;
    padding: 16px 18px;
   
  }



