<ul class="nav justify-content-center mb-3 border rounded">
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'live_data' %}">Live Spends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'money_analysis' %}">Money Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'custom_day_anl' %}">Custom Day Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'admin_support' %}">Support</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'admin_refund' %}">Payment Refund</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="{% url 'withdraw_mn' %}">manual Withdraw</a>
    </li>
    
   
  </ul>